@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url("https://www.lockheedmartin.com/content/dam/lockheed-martin/eo/photo/ai-ml/artificial-intelligence-1920.jpg") no-repeat center center;
  background-size: cover;
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }
  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  &.scrolled {
    background: rgba(#111, 0.9);
  }
  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }
  li {
    float: left;
  }
  a {
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }
}

.logo {
  position: fixed; // Keeps the logo fixed in the top-left corner
  top: 10px;
  left: 10px;
  height: 50px; // Adjust the size of the container for the logo
  z-index: 20; // Ensure it is above other elements

  img {
    max-height: 100%; // Maintain the image size within the container
    width: auto; // Preserve the aspect ratio
  }

}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.timer {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
}
#countdown-timer {
  font-size: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
#action-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#action-button:hover {
  background-color: #0056b3;
}